* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.img-fluid {
  height: auto;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.opinion {
  padding: 100px 0;
  background-color: white;
}
.opinion .wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.opinion__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.opinion__title .title {
  color: #2e7d32;
  font-size: 40px;
  font-weight: bolder;
  text-transform: capitalize;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.opinion__title .desc {
  padding: 0 300px;
  font-size: 20px;
  color: #777;
}
.opinion__row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1280px;
  gap: 40px;
  padding: 10px;
}
.opinion__col {
  position: relative;
  overflow: hidden;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 30px;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
.opinion__col:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}
.opinion__col-bgImage {
  right: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  z-index: 0;
  color: #e3e3e3;
}
.opinion__col-visitorInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 1;
}
.opinion__col-visitorInfo .photo {
  height: 60px;
  width: 60px;
  background-color: rgba(119, 238, 178, 0.933);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.opinion__col-visitorInfo .photo .profilePic {
  font-size: 35px;
  color: #2e7d32;
}
.opinion__col-visitorInfo .visitor-detail {
  display: flex;
  flex-direction: column;
}
.opinion__col-visitorInfo .visitor-detail .name {
  font-size: 20px;
  color: black;
  font-weight: 600;
}
.opinion__col-visitorInfo .visitor-detail .profession {
  color: #666;
  font-size: 16px;
}
.opinion__col-review {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.opinion__col-review .review {
  font-size: 18px;
  color: #888;
}
.opinion__col-review .rating {
  display: flex;
  align-items: center;
  gap: 5px;
  color: goldenrod;
}
.opinion__btn {
  height: 55px;
  border: none;
  border-radius: 50px;
  background-color: #2e7d32;
  font-size: 18px;
  color: white;
  padding: 0 30px;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
}
.opinion__btn:hover {
  transform: translateY(-5px);
  box-shadow: inset 0 0 5px 5px rgba(111, 204, 116, 0.3);
}

@media (max-width: 768px) {
  .opinion {
    width: 100vw;
  }
  .opinion .wrapper {
    padding: 0 20px;
    align-items: flex-start;
    width: 100%;
  }
  .opinion__title {
    width: 100%;
  }
  .opinion__title .title {
    font-size: 20px;
  }
  .opinion__title .desc {
    width: 100%;
    font-size: 12px;
    padding: 0;
  }
  .opinion__row {
    gap: 10px;
    padding: 10px 0;
  }
  .opinion__col {
    max-width: 160px;
    padding: 10px 10px;
    gap: 10px;
  }
  .opinion__col-bgImage {
    right: 5px;
    font-size: 15px;
  }
  .opinion__col-visitorInfo .photo {
    height: 30px;
    width: 30px;
  }
  .opinion__col-visitorInfo .photo .profilePic {
    font-size: 15px;
  }
  .opinion__col-visitorInfo .visitor-detail .name {
    font-size: 12px;
  }
  .opinion__col-visitorInfo .visitor-detail .profession {
    font-size: 10px;
  }
  .opinion__col-review .review {
    font-size: 10px;
  }
  .opinion__col-review .rating {
    font-size: 10px;
  }
  .opinion__btn {
    height: 40px;
    font-size: 14px;
    padding: 0 20px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=Opinion.css.map */