* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.bestTime {
  padding: 50px 0;
  background-color: #e8f5e9;
  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .title {
      font-size: 50px;
      color: #2e7d32;
      font-weight: 600;
    }
    .desc {
      font-weight: 400;
      font-size: 16px;
      max-width: 800px;
      text-align: center;
      color: #444;
    }
  }
  &__seasonRow {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  &__seasonCol {
    background-color: white;
    box-shadow: 0 5px 5px rgba(75, 77, 78, 0.5);
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 250px;

    .txt {
      padding: 10px 10px 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .season {
        display: flex;
        align-items: center;
        gap: 5px;
        .icon {
          font-size: 20px;
          color: #2e7d32;
        }
        p {
          font-size: 18px;
          font-weight: 500;
        }
      }
      span {
        font-size: 14px;
        font-weight: 400;
        color: #444;
      }
    }
  }
}
@media (max-width: 768px) {
  .bestTime {
    width: 100vw;
    .wrapper {
      padding: 0 20px;
      width: 100%;
      align-items: flex-start;
    }
    &__header {
      align-items: flex-start;
      .title {
        font-size: 25px;
        font-weight: 800;
      }
      .desc {
        text-align: left;
        font-size: 14px;
      }
    }
    &__seasonRow {
      gap: 15px;
    }
    &__seasonCol {
      max-width: 150px;
      .txt {
        max-height: 120px;
        padding: 5px 5px 10px;
        .season {
          .icon {
            font-size: 16px;
          }
          p {
            font-size: 16px;
          }
        }
        span {
          font-size: 12px;
        }
      }
    }
  }
}
