* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
nav {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  transition: all 0.3s ease-in-out;
  z-index: 180;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 8px;
    height: 100%;
    width: 100%;

    .line1,
    .line2 {
      position: absolute;
      height: 4px;
      background-color: white;
      width: 40px;
      transition: all 0.3s ease-in-out;
    }
    .line1 {
      top: 40px;
    }
    .line2 {
      top: 50px;
    }

    .line1.open {
      transform: rotate(-225deg);
      top: 45px;
    }
    .line2.open {
      transform: rotate(225deg);
      top: 45px;
    }
  }
  .navbar {
    padding: 0 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: white;
    &__left {
      display: flex;
      align-items: center;
      justify-content: center;
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        span {
          font-size: 35px;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
    }
    &__right {
      display: flex;
      align-items: center;
      padding-right: 50px;
      ul {
        display: flex;
        gap: 60px;
        li {
          list-style: none;
          position: relative;
          cursor: pointer;
          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0%;
            background-color: white;
            height: 1.5px;
            transition: all 0.5s ease-in-out;
          }
          &:hover::after {
            width: 100%;
            left: 0;
          }

          a {
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.5px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  nav {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    .toggle {
      .line1,
      .line2 {
        height: 3px;
        width: 25px;
      }
      .line1{
        top: 25px;
      }
      .line2{
        top: 35px;
      }
    }
  }
}
