* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.img-fluid {
  height: auto;
  max-width: 100%;
  object-fit: contain;
}
.book {
  padding: 100px 0;
  background-color: #2f855a;
  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  &__title {
    font-size: 40px;
    font-weight: bold;
    color: white;
  }
  &__desc {
    text-align: center;
    padding: 0 350px;
    font-size: 18px;
    font-weight: 400;
    color: white;
  }
  &__btnContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    .bookNow,
    .contact {
      background-color: transparent;
      color: white;
      height: 55px;
      padding: 0 50px;
      font-size: 20px;
      border-radius: 50px;
      border: 1px solid white;
      transition: all 0.5s ease-in-out;
      &.onClick {
        background-color: white;
        color: #2f855a;
      }
    }
  }
}
