@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.up-icon {
  background-color: #2e7d32;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  .angle-up{
    color: white;
    font-size: 25px;
  }
}
